irish_kwics_with_50_word_window.csv
mallet-2.0.8.zip
LICENSE
ldamallet_irish_10_topics.pkl
Topic_Model.ipynb
Topic_in_Doc_Irish_KWIC_10_Topics.csv
Output
Output_Topic_Model
Analyse_Models.ipynb
bushranger_kwics_with_50_word_window.csv